.title{
    font-size: 30px;
    font-weight:bold;
    margin-top:60px;
}
.father {
    height: 300px;
    margin-top: 140px;
}
.showtime {
    position: relative;
    top:-70px;
    display: flex;
    height: 100%;
    width: 99%;
    margin: 0 auto;
    overflow: hidden;
}
.blessing {
    flex-direction: row;
    height: 70px;
    width: 14.2%;
    position: absolute;
    top: -10px;
}

.blessing2 {
    left: 14.2%;
}

.blessing3 {
    left: 28.4%;
}

.blessing4 {
    left: 42.6%;
}

.blessing5 {
    left: 56.8%;
}

.blessing6 {
    left: 71%;
}

.blessing7 {
    left: 85.2%;
}

.blessing8 {
    left: 10%;
    top: 10%;
    height:80%;
    width:80%;
    display:none;
    text-align: center;
}

.blessing img {
    height: 90%;
    width: 70%;
    vertical-align: middle;
}

.blessing8 img {
    height: 100%;
    width: 100%;
}

.open{
    animation:open 5s;
}

@keyframes open {
    from {
        height:0%;
        width:0%;
        top:50%;
        left:50%;
        opacity:0.3;
    }
    to {
        height:80%;
        width:80%;
        top:10%;
        left:10%;
        opacity:1;
    }
}
.footer{
    height:70px;
    width:60%;
    border:1px solid #ccc;
    margin:0 auto;
    line-height:70px;
    margin-top:30px;
}